@import '../../../scss/modules/variables.scss';
@import '../../../scss/style.scss';
.whiteBg{
    .scroll{
        overflow: hidden;
        max-height: 340px;
        overflow-y: scroll;
    }           
    .companyLogo{
        display: flex;
        justify-content: center;
        align-items: center;        
        min-height:250px;
        }   
  .addImage{
      padding-top:27px;
      display: flex;
      justify-content:flex-end;
      cursor: pointer;
      img{
          cursor: pointer;
      }
      figure{
        position: absolute;
      }
      input{
        cursor: pointer;
      }
  }

}
.authorContact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .author{
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
          display: inline-block;
      }
      
      button{
        margin-left:10px;
        padding: 4px 30px !important;
        padding-left: 40px !important;
        img{
            position: absolute;
            top:11px;
            left:19px;
        }       
    }
    .primaryDisable{
        background-color: $lightprime !important;
        border-color: $primary-color !important;
        color:$primary-color !important;
        &:focus{
            color:#fff!important;
        }
    }
}
.action{
  display: contents;
    span{
        border:1px solid $lightBorder;                            
        border-radius:2px;
        display: inline-block;
        width: 26px;
        height: 26px;
        text-align: center;
        cursor: pointer;
        margin-right: 10px;
        line-height: 22px;
        /*width: 100%*/
        
    }
}
.societyUsersList{
    .addUser{
        cursor:pointer;
    }
}
.borderBottom{
    border-bottom: 1px solid $borderLight;
    width: 100%;
    margin: 20px 0;

    display: flex;
}

.titleForm {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #8E878A;
}

.newEntry{
  .form-input-control{
    .form-group{
        .form-label{        
          position: relative;
          top: 18px;
          background:$white;
          left:11px;
          font-size:$xSmall;
          padding-left: 5px;
          padding-right: 5px;
          color:$gray;
        }
      }
  }
}

/**********css starts here***********/
.uploadImg {
  &.newSocietyWrap {
    .uploadIcon {
      min-height: auto;
      .inputFields {
        figure {
          img {width:25px;}
        }
      }
    }
  }
}
.crossIcon{
  right:15px;top:15px;
  .closeRight {
    cursor: pointer;
  }
}