@import '../../../scss/modules/variables.scss';
// @import "rsuite/dist/rsuite.css";
@import '../../../pages//dashboard/HelpDeskDashboard/ServiceRequest/CalanderInput.scss';

//  ../../../../scss/modules/variables.scss
// @import '../../HelpDeskDashboard/ServiceRequest/CalanderInput.scss';
// @import '../../';
.rs-picker-menu.fade.in.rs-picker-daterange-menu{
    z-index: 99999 !important; 
}

.modal-dialog-centered{
    min-height: calc(70% - 3.5rem);
}

.filterButton {
    background: #F8F3F5 !important;
    border: 1px solid #DED6D9 !important;
}

.rs-picker-daterange.rs-picker-default.rs-picker-toggle-wrapper {
    .rs-btn.rs-btn-default.rs-picker-toggle {
        padding: 14px !important;
        padding-left: 15px !important;
        display: flex !important;
    }
    .rs-picker-toggle-caret {
        padding: 5px;
    }
    .rs-picker-toggle-value {
        color: #495057;
    }
    .rs-picker-toggle-clean {
        padding: 6px;
        padding-right: 15px;
    }
}