@import '../../../../scss/modules/variables.scss';
.form-group {
    display: flex;
    margin-bottom: 0;
    align-items: center;

    label {
        margin-right: 15px;
        margin-bottom: 0;
        font-size: $body;
        color: $secondry-color;
        font-weight: $smbold;
    }

    .form-control {
        background: $lightgray;
        @include border;
        font-weight: $smbold;
        font-size: $xSmall !important;
        border-radius: 4px !important;
        height: 30px !important;
        box-shadow: none;
        padding-top: 4px;

    }
}

.form-label {
    position: relative;
    /*    top: 18px;*/
    background: $white;
    left: 11px;
    font-size: $xSmall;
    padding-left: 5px;
    padding-right: 5px;
    color: $gray;
}