.rdt_TableCol {

    &:nth-child(2){
        white-space: nowrap;
    }
   &>div{
    &>div{
        font-weight: 700 ;
    }
   }  
    &:last-child{
        justify-content: start;padding-left: 0.5rem;
        max-width: 100px;
    } 
    

}

.rdt_TableRow {
    justify-content: space-between;
    .rdt_TableCell{
        text-align: center;
        &:nth-child(2){
            white-space: nowrap;
        }
        &:last-child{
            justify-content: start;
            // padding-left: .5rem;
        }
    }
}
.rdt_TableHeadRow{
    justify-content: space-between;
}