@import "../../../../scss/modules/variables.scss";
.e_select{
  select{
    border: 0;
    background-color: transparent;
    padding-left: 0 !important;
    border-bottom: 1px solid #ddd;
    border-radius: 0 !important;
    height: 35px !important;
    outline: 0 !important;
    box-shadow: none !important;
  }
}

.leadTitle {
    width: 50%;
}
.commentInput{
 
}
// .sdInputFields {
//   width: 95% !important;
// }
// .commentbox{
//   width: 100% !important;
// }
.forLink:hover, .forLink{
  color: $primary-color;
}
