

.modalcross-btn{
    background-color:transparent;
    border:0;
    align-self:center;
    /*position: relative;*/
    /*float: left;*/
/*    margin-left: 350px;*/
}

.Document_img{
    height:50px;
    width:50px;
    border-radius:5px;
    object-fit:cover;
}
.doc_strip {
    .styled-checkbox + label {
        cursor: default;
    }
}