/** @format */
@import "../../../scss/modules/variables.scss";
.badge-one {
   background-color: $lightPink;
   font-size: 10px;
   color: $primary-color;
   text-transform: uppercase;
   width: max-content;
   border-radius: 4px;
   padding: 3px 7px;
   font-weight: 700 ;
}

.text-gray {
   color: #949494;
   font-size: 12px;
}

.fw-600 {
   font-weight: 600;
}

.mediumModal {
   .modal-dialog {
      max-width: 700px;
   }

   .modal-content {
      border: 1px solid #ded6d9;
      border-radius: 4px;
   }
}

.badge-two {
   border-radius: 15px;
   background-color: #FA3A3A;//#55b844
   color: #fff;
   padding: 3px 10px;
   font-size: 12px;
}

.m-close-btn {
   background-color: #d0cacd;
   border-radius: 4px;
   font-size: 14px;
   font-weight: 700;
   padding: 12px 25px;
   border: 0;
}


.interested-status {
   &>span{
      margin-left: 0px !important;
   }
}
// @import "../../../scss/modules/variables.scss";
// @import "../../../../scss/modules/variables.scss";

.new_property{
.form-label{        
    position: relative;
    top: 18px;
    background:$white;
    left:11px;
    font-size:$xSmall;
    padding-left: 5px;
    padding-right: 5px;
    color:$gray;
}
.form-group{
    margin-bottom: 0;
}
button {
      margin-top: 30px;
      width: 100% ;          
      padding: 12px !important;
 }
.radio_div{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.dropdown_multiselect{
    border-color: lightgray;
    border-radius: 2px;
    }
}
.m-close-btn {
   background-color: #d0cacd;
   border-radius: 4px;
   font-size: 14px;
   font-weight: 700;
   padding: 12px 25px;
   border: 0;
}
.m-send-btn {
   background-color: #BE1452;
   border-radius: 4px;
   font-size: 14px;
   font-weight: 700;
   padding: 12px 25px;
   border: 0;
   color: white;
}
.modal-dialog-centered {
   min-height: 90% ;
   margin-top: 0 ;
}
.messagesModalWidth{
   min-width: 100%;
}