/** @format */

@import "../../../scss/modules/variables.scss";
.dashboard {
   .cardBox {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      .card {
         width: 100%;
         max-width: 260px;
         margin-right: 20px;
         &:last-child {
            margin-right: 0;
         }
      }
   }
   .tableBox {
      margin-top: 30px;
      background-color: $white;
      @include border;
      border-radius: 4px;
      .tableHeading {
         padding: 12px;
         border-bottom: 1px solid $lightBorder;
      }
      .locationSelect {
         .form-group {
            display: flex;
            margin-bottom: 0;
            align-items: center;
            label {
               margin-right: 15px;
               margin-bottom: 0;
               font-size: $body;
               color: $secondry-color;
               font-weight: $smbold;
            }
            .form-control {
               background: $lightgray;
               @include border;
               font-weight: $smbold;
               font-size: $xSmall !important;
               border-radius: 4px !important;
               height: 30px !important;
               box-shadow: none;
               padding-top: 4px;
               width: 138px;
            }
         }
      }
      table {
         thead {
            th {
               border: 0;
               font-size: $body;
               font-weight: $bold;
               color: $secondry-color;
               text-align: center;
            }
            tr {
               &:nth-of-type(odd) {
                  background-color: $white;
               }
            }
         }
         tr {
            td {
               border: 0;
               font-size: $body;
               color: $secondry-color;
               font-weight: $smbold;
               text-align: center;
               .action {
                  display: contents;
                  span {
                     border: 1px solid $lightBorder;
                     border-radius: 2px;
                     display: inline-block;
                     width: 26px;
                     height: 26px;
                     text-align: center;
                     cursor: pointer;
                     margin-right: 10px;
                  }
               }
            }
            &:nth-of-type(odd) {
               background-color: $lightgray;
            }
            .defaultTag {
               border-radius: 24px;
               display: inline-block;
               padding: 1px 12px;
               text-transform: uppercase;
            }
            .tagInfo {
               background-color: $info;
            }
            .tagAlert {
               background-color: $alertColor;
            }
            .tagDangerous {
               background-color: $dangerous;
            }
            .tagSuccess {
               background-color: $success;
            }
         }
      }
      .tableBottom {
         /*border-top:1px solid $lightBorder;*/
         padding: 12px;
      }
   }
}

.action {
   display: contents;
   span {
      border: 1px solid $lightBorder;
      border-radius: 2px;
      display: inline-block;
      width: 58px;
      height: 26px;
      text-align: center;
      cursor: pointer;
      margin-right: 10px;
   }
}

.dangerColor {
   color: red;
}
.userName {
   display: flex;
   align-items: center;
   text-align: center;
   span {
      margin-left: 5px;
   }
   .userImage {
      width: 30px;
      height: 30px;
      overflow: hidden;
      text-align: center;
      border-radius: 50%;
      min-width: 30px;
      height: 30px;
      margin-right: 10px;
   }
}
.authorContact {
   display: flex;
   align-items: center;
   justify-content: space-between;
   .author {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      display: inline-block;
      img {
         width: 60px;
         height: 60px;
         object-fit: cover;
      }
   }
   .author-detail {
      img {
         width: 80px;
         height: 80px;
      }
   }
   .table_sell-rent {
      border: 1px solid #ffa3c8;
      border-radius: 10px;
      tr {
         td {
            border-top: unset;
            p {
               font-size: 10px;
               font-weight: 500;
               padding: 0px 0px;
               width: 65px;

               span {
                  font-size: 10px;
               }
            }
         }
         th {
            border-top: unset;
            background: #ffe0ec;
            p {
               font-size: 12px;
               font-weight: 700;
               padding: 0px 0px;
               width: 100px;
               text-transform: capitalize;
               margin-top: 6px;
               span {
                  font-size: 10px;
                  color: #8e878a;
               }
            }
         }
      }
   }
   .chat_date {
      border: 1px solid #ffa3c8;
      border-radius: 10px;
      margin-left: 10px;
      tr {
         td {
            border-top: unset;
            p {
               font-size: 10px;
               font-weight: 500;
               padding: 0px 0px;
               width: 65px;

               span {
                  font-size: 10px;
               }
            }
         }
         th {
            border-top: unset;
            background: #ffe0ec;
            p {
               font-size: 12px;
               font-weight: 700;
               padding: 0px 0px;
               width: 100px;
               text-transform: capitalize;
               margin-top: 6px;
               span {
                  font-size: 10px;
                  color: #8e878a;
               }
            }
         }
      }
   }
  
   
}

.personal_name {
    p{
        font-size: 16px;
    font-weight: 600;
    color: #BE1452;
    margin-top: 12px;
    }
}

.personal_details {
    .detail-heading {
        font-size: 14px;
        font-weight: 600;
        color: #757575;
    }
 }
 .profession_details{
    .detail-heading {
        font-size: 14px;
        font-weight: 600;
        color: #757575;
    }
 }
 .details {
    font-size: 14px;
    color: #333333;
    font-weight: 700;
 }