@import "../../scss/modules/variables.scss";
.headerRight{
    display: flex;
    align-items: center;
    
}
.headerTop{
    .heaerRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}
.breadcrumb{
    background-color: transparent;
    cursor: pointer;
    padding-left: 0;
    .breadcrumb-item{
        a{
            color:$TaupeGrey;           
            text-decoration: none;
         }
         &.active{
            color:$secondry-color;
         } 
        &::before{
            content: " ";
            background-image: url(../../assets/images/rightarrow-icon.svg);
            width: 10px;
            height: 17px;
            background-repeat: no-repeat;
            margin-top: 8px;
            margin-left: 4px;
            margin-right: 4px;
          }
        }
   }

.header_btn{
    height: 35px;
    width: 94px;
    // color: gray !important;
    // border: gray !important;
}