@import "../../../scss/modules/variables.scss";

.newEntry{
.form-label{        
    position: relative;
    top: 18px;
    background:$white;
    left:11px;
    font-size:$xSmall;
    padding-left: 5px;
    padding-right: 5px;
    color:$gray;
}
.form-group{
    margin-bottom: 0;
}
button {
      margin-top: 30px;
      width: 100% ;          
      padding: 12px !important;
 }
}
.dropdown-location .dropdown-menu{
    max-height: 250px;
    // overflow: scroll;
    overflow-y: scroll;
}